<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' th:href="@{/css/index.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ebe2b16cd6.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet">
  <script  src="/js/buttons.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>St1xee Music</title>
</head>
<body>

<div class="stixee">
  <div class="favorite-block">
    <div class="favorite-buttons">
      <button class="menu-button" id="menu-button" n><i class="tab-btn fa-solid fa-house"></i></button>
        <button class="tab-btn" onclick="openTab(event, 'songs')">Songs</button>
        <button class="tab-btn" onclick="openTab(event, 'artists')">Artists</button>
        <button class="tab-btn" onclick="openTab(event, 'playlists')">Playlists</button>
        <button class="tab-btn" onclick="openTab(event, 'albums')">Albums</button>
        <button class="tab-btn" onclick="openTab(event, 'folder')">Folder</button>
    </div>


    <div id="songs" class="songs tab-content" style="display: block;" >
      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image" >
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/8d32/f8a5/3db730355242e52a57fe1cf402b1459f?Expires=1690761600&Signature=SDf22ysW~9tInZ3N27PMNqniPsgQUm1vfNyu8y~n22Gg1PFf9fnbVKNtOO4UxtbWEsVcTHWBoFftghoh5-ZB-7zQBer8MZlilHHiXWlDv~9RVNnEK7aKbNTjx78vhB0KPmsObXJAyYqNXmd5xKI7EheDFwwd--2Y5AHB7qo9uZyYapvRSfRF-zi4X9wTH44IFb8mFuCheHIp7fKlZUI75hUKjSKjVAie7i5-drZuI13xKvqe9ZkSL~THLTcdtbO3K0PE0y5Kwj-kquPg9enIdymnPi-UfNG-iRxgfBdy4PMd48OcfL~TRpt0SXzdbaOy456vvvvkMFMs1JjkcYZyXQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>OnlyFans</p>
          </div>
          <div class="artist">
            <p>Isam Ft Koorosh</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <button class="favorite-heart-btn">
            <i class="fa-solid fa-heart"></i>
          </button>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/2a43/d39d/7ff270295623b8e8c399698bcedf7edf?Expires=1690761600&Signature=m7zhbHYerOvR92sytb4imr11qlNLliBp1RgP6BcXMaFubUeTt3KmM0IQOm06cXbyzQzt2r~NlvaOcQMbNjDNEwTNvwSfH6SGX-av3A3VQiccPv1bWp9lhn-znuesNrjNcdKeIhV7civRlWARykEkfqPaREPWvQB4BXgY69YM9k0qw6w8Gdt8FL3Km-L7QkJYN1xvZji744CSnxeURm4JztIb7V7~Jw3oEZnB03nYZuVD4oBgpIwDvrHQYfSf8tk2n7L~qMY2XrAATM0Iw~92EBG6ZVeFfBB3xkm40nAcB3j3lLXPxlLjO2L98r-ZsCydMCTZPiNHA0WkAVuEG-18uw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>Redbull</p>
          </div>
          <div class="artist">
            <p>Arta Ft Koorosh & Smokepurpp</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/1998/ccca/d1e4d6ca2fdb5711edb95a4ae2f849d5?Expires=1690761600&Signature=d6QKjZQwUTzAIFe0Q2Iww5edzFrTBfn-n7zZ~cSm8DXk7ImbI-4UO7UD3haLGJ-jynX3NpySjsbOa8kGvdIM6~ovI4q5b-HlhbcDl~nCaa7dJ9kZ3plCM0tjBjgXHcqhcDudaRBWfiDvUVeSQKm7HBBjbjcmNBq8CqKvndaYDVmUpOIIBpbNHSSEPbNSmQKgCNcAVXrtpaq8sBpWGnU65geqwz8MfQ7cSE5KvbUQdd694QvdwKBRtxo1BEeiFx5jPt6l9nuMmc6W4QSadqpZdDeiSqD64lqrKDNE-dO3WBZ-41g2n7LSf3G4zdcvB4i-hKDn5rh7LYixGGopyyrBDw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>My Strange Addiction</p>
          </div>
          <div class="artist">
            <p>Billie Eilish</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/5d46/9181/8c5873ad8beb9617e082eba4fa7810d7?Expires=1690761600&Signature=NcUFOrGWAiSQBzMHPfggWPq5DD4tkVALZu8RYbh-7458go8VWS7-7XhRjvGJXAF2bjtF8wIEsnM-WuHqYCGUhFdK9JyQqGBAqIwWZTmKWm98CulqI674kETcTJxy2iDTm6RXIajt87iNItmBiJNglyhXz6wAUNQn-3QfZu8MGzcgQv5UuN-aP1OVaLlG735fzyDZyYh~QjicJu8XY1DuZnvWOSfkD-u94F4e~QQ3fz51cM80LsyPvr70X0krhTkjBcHPoq7p8jQG3ULq0gOcmqxVkFn0u-piAlMkbZfIX4LS434GbWuPLRha-prm9cSH5Dosf2ptavHoNAw20odehg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>Baadpooli</p>
          </div>
          <div class="artist">
            <p>Hiphopologist x Kagan</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/d72f/22c0/6b8d2d759bd9417893f379050e4eb49a?Expires=1690761600&Signature=SLIXWO~0CtFjZACq3Ob7~Eb0x4dZ-9lbJp85ldIGVuMcWuacMbYL1obCix8V-FaDZNiZww~21ZLo5TO1fs95wIfGWH8iTYc1GvVZvkLrdJ4lLcBT9aiLSds6pQvDZbg8uxjM61I9SCu7zismKe7WHFXPi1ftUQa74d4uNmPTiBnzkRxp9FXzOXEg9vBfwr23iJN96ugtIpAg8MBqq6VJzkwOEd8UHOLDS3cJytzNNk22aYlG9cqZIo-ewxjZ9szqQDivD40LVetxD1JmM~coipd9dush2DW-di~2YTuy0xAZGE5Zgll0GXXjLSvlpKyFh-QSpwU~dEvxQ2vXwwM5nw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>tttpttt</p>
          </div>
          <div class="artist">
            <p>Poori</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/6d12/b4a8/e661824688442cf913e22abd16cb1dd7?Expires=1690761600&Signature=FP8dVHq2ScrEcPkinvKS8C4CqBWMbg4adjzCTVJyHFn0GnLjFIAmcT32wwLTLjuotMZQwBpvQR2mJ0f-bC8cZXpeI4lAEDTZuqjmap6EfvqiZJgKj0cMQl8aUDeo0m5xvZKgWh2gBPMbxlbY5c22KJ4MlQFdl4dC4m3bafWf9IBQQqdWTJPB4uTpvo-l6yD6Onta2L86PZ1jhO7RM8ouKfhoJM5~zjqsWEALEZwz7dvzBesD7WHDIQzz76T9vlQZC8pNrws4TYRwWs5YaxYWvD~W9FKFyA0TT3VfgqyzocgWDhiwn4Bu5udi3vTZoROtY52V9OxEHzjTv~nPUEatuw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>First Class</p>
          </div>
          <div class="artist">
            <p>Koorosh 420Vll</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/0d23/4af9/d9f0e40ae0c9e35203b376e6bbf09b21?Expires=1690761600&Signature=WUXrR1gbTaYZ0vlk33k5jKuQPMbqKK~eHQeJQb~zHteK4FPhcBUYGCBukvgdLjpZBsSPhIrd7Hg2a-uENVxaUM6n3Sb2F~NQdCZpVqJOel~rePyei13CbqWyCg21hHYgo~0736z7NJBU-2733dcQBex3Uh6bzFNzFp3BjR6kqjUjr6Rzn-~PCXk71Pbu2dOq5Uw04p7NhiTAkcc1A4I0afZlj~b0Ig9QB4HoK0D8wOmGdyuygbaaWIKg3dg7DN9hoG-YL3xgJ43~JO0i0S6DDBxv5qVvq9o3TYPdbXCen~Pebvt7VsWhHgueXHyr3SE5S6JSZkqc~spH-3jVr6JdcQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>Faze Sekte</p>
          </div>
          <div class="artist">
            <p>CatchyBeats Ft 021KId</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/dbc2/c189/dfcb1f09c1c6fa488aa375034f70371f?Expires=1690761600&Signature=YY~kW6mnPnACPXOOukAWcpkXgA9RHltnFjnHz7Mtw~p7nDvUYzw1t7EqZrAiB2eA9wfNJetjYlGqX79d~sszDTF492YH3d2iiMXuWA6Xw7~XEXLDjW0C5x4739zwtVZTFFwR9-nKear0EqH0Zoa2D4czaTSP3SJpkT2sxQ5-ZensLZASzyHDGrHvQVzakEeeehDQdVSGL74BXkh4MITbGq86~-AVN0veGw45oTwFn9ZJ7NHig9S8aYi0jhxe53t8kcwgkbrUNoa9VDDLgOtid48h55SpS-n4jQUNLUL7syqttmwjpFgFF8FMnkvm5fZ6ZTTBiCF4bYGKOBJ1xK9Y2A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>Ma</p>
          </div>
          <div class="artist">
            <p>Koorosh Ft Sami Low</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/f7c3/9cb6/10c77a24ef983059f6da39bc044d83f2?Expires=1690761600&Signature=FZ3DOZMbhGcslTDAdUqzAxO4pn8pIZhe7Gd85bggpwtVD3u3JPk5pq~CbNEa-FkxunAyaNd3ddwneAtrfRl6uTZnl71IVUgsFYMsiihxHv8DbMrwe0eAyuyK0Ogs398qUzVIdo9sj9eq531ThgdOxD~qVpqyJyWLCbrFShOi6mZS5VVs2TaNTbmHAP9Ex1XTPTxIZD4wITj5LepN2XnUR7lpw~LIz8U7pALWS~crksO5MOuebEK3N3griaAXqgo3tDJlWJOQAvUUySak1zCSrIpH79L-sqGKqsoBopurmKdP33ooK4JgO3hLDtHsvFoToaYRmLY~ylj~XixBw8ca6w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>Dobareh</p>
          </div>
          <div class="artist">
            <p>Gogoosh Ft Sogand & leila forohar</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/cc67/2fe5/a1881e874ccdf7794b44dc0f5281d981?Expires=1690761600&Signature=Wa2FkMoPe-dN7jrkO2rpuqiHenJKmGKPaTuYMgnzmOm4RV-aaOKhzz3TA7fc6nracOoveKegSgaK-6pHPsbemxQ00XKSAGSMAy~lgl9LllzrB5kTQH7llNMcURuyhUibXAt8e2Fm8lQ9Bp7N9eRIaJrI9nwQN2u03fKJXRRb~lMA0rsZKdSrbKQLyNVKmCyGaI~4X3XHC2GVcIqrLe1ApygSzLNjQhSQMDa0boIBGVtHzJhZIQFuCdy4blYC9YjKohc~nl~5oEr0lV~kdh9IIOlDRknTI6R1H~EOrbpqXsVxr0n~4VodYSCNhK8bnF3jF1DvIDxnEPXfN6Rwvpm2cg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>Inja Irane</p>
          </div>
          <div class="artist">
            <p>021KID Ft Putak</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <div class="song" onmouseover="showFavoriteHeart(this)" onmouseout="hideFavoriteHeart(this)">
        <div class="image">
          <i class="fa-solid fa-play play-icon"></i>
          <img src="https://s3-alpha-sig.figma.com/img/6582/1207/8117600f5fcb2c28ed6559c9f7f409ea?Expires=1690761600&Signature=JlpxfmnoOWMK-v9vVMgUrivkD0aAGCspyZBl8AfojA0xZugJzJqoIKU6YQfEp3OV3dX7AgruHYXxIZ7g6HPUpd4yNKLba9go-pRnzhk~Tm40jRzGEoit5o82u4qpoxZyaMsCvJq-N9pg9jwWu-T9DgT69T8zjiC1RAGZWlJ5QmDpRt1Vyx61m27znVpTpA~kpD4dNr~e4rIqQBHBABwWBAkgJW9dX3rIBC0udVXkoztc71C7jRiWbI9Yd7rMQ4kwKIVodNc~2UuvTVmWh0FVPSMudQV60n7nwsusx3IrK5n3dHvks4cg0Tt0J6suqDxxJNDbCYJx4G2WxKiCWmjUwQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>
        <div class="name">
          <div class="song-name">
            <p>Azhir</p>
          </div>
          <div class="artist">
            <p>Hiphopologist</p>
          </div>
        </div>
        <div class="favorite-heart" style="display: none;">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>


    </div>

    <div id="artists" class="tab-content" style="display: none;">
      <!-- Вміст блоку "Artists" тут -->
      Will be added in version 1.1
    </div>

    <div id="playlists" class="tab-content" style="display: none;">
      <!-- Вміст блоку "Playlist" тут -->
      Will be added in version 1.1
    </div>
    <div id="albums" class="tab-content" style="display: none;">
      <!-- Вміст блоку "Albums" тут -->
      Will be added in version 1.1
    </div>
    <div id="folder" class="tab-content" style="display: none;">
      <!-- Вміст блоку "Folder" тут -->
      Will be added in version 1.1
    </div>
  </div>



  <div class="main-block">
    <div class="header">
      <div class="logo">
        <img src=../img/logotype.png>
      </div>
      <div class="search">
        <div class="search-box">
          <button class="srch-btn"><i class="fa-solid fa-search"></i></button>
          <input type="text" placeholder="Search...">
        </div>
      </div>
      <div class="account">
        <div class="account-avatar">
          <img src="/img/my-avatar.png">
        </div>
        <div class="account-nickname">
          <p>Sh1chiro</p>
        </div>
        <div class="account-sett">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
            <path d="M9.25 4.5L6.25 7.5L3.25 4.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>


    <div class="work-station">
      <!-- <div class="player" id="player">
          <div class="player-container">
              <div class="song-preview">
                  <img class="song-preview-img" src="../img/b-t.png">
              </div>
              <div class="player-song-name">
                  <div class="name">
                      <p id="name" >My Strange Addiction</p>
                  </div>
                  <div class="album">
                      <p>When We All Fall Asleep, Where Do We Go?</p>
                  </div>
                  <div class="artist">
                      <p>Billie Eilish</p>
                  </div>
              </div>
              <div class="player-structure">
                  <div class="auxiliary-buttons">
                      <div class="btn shuffle"><img src="../img/shuffle.png"></div>
                      <div class="btn repeat"><img src="../img/repeat.png"></div>
                      <div class="btn heart"><img src="../img/heart.png"></div>
                  </div>
                  <audio class="audio" src="../audio/my-strange-addiction.mp3"></audio>
                  <div class="progress-container">
                      <div class="progress"></div>
                  </div>
                  <div class="player-time">
                      <p class="current-time">00:00</p>
                      <p class="song-time">00:00</p>
                  </div>
                  <div class="buttons">
                      <div class="btn prev"><img src="../img/prev.png"></div>
                      <div class="btn play"><img class="play-img" src="../img/play.png"></div>
                      <div class="btn next"><img src="../img/next.png"></div>
                  </div>
              </div>
          </div>
      </div>  -->

      <!-- <div class="main-menu">
          <div class="menu">
              <div class="first-line">
                  <button>
                      <img src="../img/shazam.png" alt="Button 1">
                  </button>
                  <button>
                      <img src="../img/wrld.png" alt="Button 2">
                  </button>
              </div>
              <div class="second-line">
                  <button>
                      <img src="../img/ukraine.png" alt="Button 3">
                  </button>
                  <button>
                      <img src="../img//random.png" alt="Button 4">
                  </button>
              </div>
          </div>
      </div> -->


      <div class="album-container">
        <div class="album" id="album">
          <div class="album-header">
            <div class="album-preview">
              <img src="https://upload.wikimedia.org/wikipedia/ru/4/45/Billie_Eilish_-_Happier_Than_Ever.png">
            </div>
            <div class="album-info">
              <div class="artist-name">
                <p>Billie Eilish</p>
              </div>
              <div class="info">
                <p>Album • 2021 • 16 songs, 56 min 15 sec</p>
              </div>
              <div class="album-name">
                <p>Happier Than Ever</p>
              </div>
            </div>
          </div>
        </div>

        <div class="album-songs">
          <div class="songs-header">
            <div class="hash">
              <p>#</p>
            </div>
            <div class="song-title">
              <p>Title</p>
            </div>
            <div class="clock">
              <i class="fa-regular fa-clock"></i>
            </div>
          </div>
          <hr>

          <div class="song-block">
            <div class="number">
              <p>1</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>Getting Older</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>4:04</p>
            </div>
          </div>

          <div class="song-block active">
            <div class="number">
              <p>2</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>I Didn’t Change My Number</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>2:38</p>
            </div>
          </div>

          <div class="song-block">
            <div class="number">
              <p>3</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>Billie Bossa Nova</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>3:16</p>
            </div>
          </div>

          <div class="song-block">
            <div class="number">
              <p>4</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>my future</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>3:30</p>
            </div>
          </div>

          <div class="song-block">
            <div class="number">
              <p>5</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>Oxytocin</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>3:30</p>
            </div>
          </div>

          <div class="song-block">
            <div class="number">
              <p>6</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>GOLDWING</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>2:31</p>
            </div>
          </div>

          <div class="song-block">
            <div class="number">
              <p>7</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>Lost Cause</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>3:32</p>
            </div>
          </div>

          <div class="song-block">
            <div class="number">
              <p>8</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>Halley’s Comet</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>3:54</p>
            </div>
          </div>

          <div class="song-block">
            <div class="number">
              <p>9</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>Not My Responsibility</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>3:47</p>
            </div>
          </div>

          <div class="song-block">
            <div class="number">
              <p>10</p>
              <i class="fa-solid fa-play play-ic"></i>
            </div>
            <div class="name-block">
              <div class="title">
                <p>OverHeated</p>
              </div>
              <div class="artist">
                <p>Billie Eilish</p>
              </div>
            </div>
            <div class="time">
              <p>3:34</p>
            </div>
          </div>



        </div>
      </div>


    </div>







  </div>
</div>





<script src="/js/player.js"></script>
<script src="../js/main.js"></script>
</body>
</html>



