<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' th:href="@{/css/index.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ebe2b16cd6.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet">
  <script  src="/js/buttons.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>St1xee Music</title>
</head>
<body>

<div class="stixee">
  <div class="favorite-block">
    <div class="favorite-buttons">
      <button class="menu-button" id="menu-button" n><i class="tab-btn fa-solid fa-house"></i></button>
        <button class="tab-btn" onclick="openTab(event, 'songs')">Songs</button>
        <button class="tab-btn" onclick="openTab(event, 'artists')">Artists</button>
        <button class="tab-btn" onclick="openTab(event, 'playlists')">Playlists</button>
        <button class="tab-btn" onclick="openTab(event, 'albums')">Albums</button>
        <button class="tab-btn" onclick="openTab(event, 'folder')">Folder</button>
    </div>


    <div id="songs" class="songs tab-content" style="display: block;" >

    </div>

    <div id="artists" class="tab-content" style="display: none;">
      Will be added in version 1.1
    </div>

    <div id="playlists" class="tab-content" style="display: none;">
      Will be added in version 1.1
    </div>
    <div id="albums" class="tab-content" style="display: none;">
      Will be added in version 1.1
    </div>
    <div id="folder" class="tab-content" style="display: none;">
      Will be added in version 1.1
    </div>
  </div>



  <div class="main-block">
    <div class="header">
      <div class="logo">
        <img id="logotype" src=../img/logotype.png>
      </div>
      <div class="search">
        <div class="search-box">
          <button class="srch-btn" id="search-button"><i class="fa-solid fa-search"></i></button>
          <input type="text" placeholder="Search..." id="search-input">
        </div>
      </div>


        <div class="account">
            <div class="account-avatar">
                <img id="my-avatar" src="/img/without-image.png">
            </div>
            <div class="account-nickname">
                <p id="my-nickname">Sh1chiro</p>
            </div>
            <div class="account-sett" id="menu-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M9.25 4.5L6.25 7.5L3.25 4.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="dropdown-menu">
                <div class="menu-item" data-action="viewUserProfile">Profile</div>
                <div th:if="${adminPanel}" class="menu-item" data-action="openAdminPanel">Admin Panel</div>
                <div th:if="${artistPanel}" class="menu-item" data-action="openArtistPanel">Artist Panel</div>
                <div class="menu-item" data-action="logOut">Log Out</div>
            </div>
        </div>

    </div>

    <audio class="audio" src="/api/songs/1/play"></audio>
    <div class="work-station">
      <div class="main-menu">
          <div class="menu">
              <div class="first-line">
                  <button  id="shazam-button">
                      <img src="../img/shazam.png" alt="Button 1">
                  </button>
                  <button>
                      <img src="../img/wrld.png" alt="Button 2">
                  </button>
              </div>
              <div class="second-line">
                  <button>
                      <img src="../img/ukraine.png" alt="Button 3">
                  </button>
                  <button id = "random-song">
                      <img src="../img/random.png" alt="Button 4">
                  </button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script  type="module" src="../js/playlist.js"></script>
<script  type="module" src="../js/main.js"></script>
<script  type="module" src="../js/userSettings.js"></script>
<script  type="module" src="../js/artistPage.js"></script>
<script  type="module" src="../js/searchPage.js"></script>
</body>
</html>



