<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Список користувачів</h1>
<div th:each="user : ${users}">
    <form method="POST" th:action="@{/admin/updateUserRole/{userId}(userId=${user.getId()})}">
        <p th:text="${user.getEmail()}"></p>
        <p>Змінити роль:</p>
        <select name="role">
            <option value="CREATOR" th:selected="${user.getRoles().contains(CREATOR)}">CREATOR</option>
            <option value="ADMIN" th:selected="${user.getRoles().contains(ADMIN)}">ADMIN</option>
            <option value="MODERATOR" th:selected="${user.getRoles().contains(MODERATOR)}">MODERATOR</option>
            <option value="ARTIST" th:selected="${user.getRoles().contains(ARTIST)}">ARTIST</option>
            <option value="USER" th:selected="${user.getRoles().contains(USER)}">USER</option>
        </select>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="submit" value="Зберегти" />
    </form>
</div>
</body>
</html>